PARTNER_GATEWAY_BASE_URL=http://127.0.0.1:8765
PARTNER_GATEWAY_API_KEY=
NEXT_PUBLIC_HER_REQUESTER_ID=70001
NEXT_PUBLIC_HER_PROFILE_ID=10001
NEXT_PUBLIC_HER_USER_ID=user-a
NEXT_PUBLIC_HER_CASE_ID=
NEXT_PUBLIC_HER_PROFILE_SOURCE_DSN=mysql://root@127.0.0.1:3307/her?table=profiles
NEXT_PUBLIC_HER_PROFILE_SOURCE_TABLE=profiles
